<%= form_for(@project_preference) do |f| %>
  <% if @project_preference.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project_preference.errors.count, "error") %> prohibited this project_preference from being saved:</h2>

      <ul>
      <% @project_preference.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :level %><br />
    <%= f.number_field :level %>
  </div>
  <div class="field">
    <%= f.label :group_id %><br />
    <%= f.number_field :group_id %>
  </div>
  <div class="field">
    <%= f.label :project_id %><br />
    <%= f.number_field :project_id %>
  </div>
  <div class="actions">
    <%= f.submit "Submit", :class => "btn" %>
  </div>
<% end %>
