<h1>Listing project_preferences</h1>

<table>
  <tr>
    <th>Level</th>
    <th>Group</th>
    <th>Project</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @project_preferences.each do |proj_pref| %>
  <tr>
    <td><%= proj_pref.level %></td>
    <td><%= link_to proj_pref.group_id, group_path(proj_pref.group_id) %></td>
    <td><%= link_to proj_pref.project_id, project_path(proj_pref.project_id) %></td>
    <td><%= link_to 'Show', proj_pref %></td>
    <td><%= link_to 'Edit', edit_project_preference_path(proj_pref) %></td>
    <td><%= link_to 'Destroy', proj_pref, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Project preference', new_project_preference_path %>
