<div class="container sign-in">
<h1>Sign In</h1>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :class => "new-session") do |f| %>

	<div class="field">
	<%= f.label :email %>
	<%= f.text_field :email %>
	</div>

	<div class="field">
	<%= f.label :password %>
	<%= f.password_field :password %>
	</div>
	
	<div class="field">
	<%= f.label :"" %>
	<%= f.submit "Sign In", :class => "btn" %>
	</div>
<% end %>

</div>