<h1>CS169 Project Signup Form</h1>
<%= form_tag(signups_path) do %>

  <div class="field">
    <%= label_tag 'group_id', 'Group Number:' %>
    <%= select_tag 'group_id', options_from_collection_for_select(@groups, 'id', 'id') %>
    <%= link_to 'See all groups', groups_path %>
  </div>

  <div>
    <%= link_to 'See all Projects', projects_path %>
  </div>

  <% %w[First Second Third].each do |ordinal| %>
    <div class="field">
      <%= label_tag "#{ordinal.downcase}_choice", "#{ordinal} Choice:" %>
      <%= select_tag "#{ordinal.downcase}_choice", options_from_collection_for_select(@projects, 'id', 'title') %>
    </div>
  <% end %>

  <div class="field">
    <div> This is not implemented yet </div>
    <%= label_tag "sid", "SID:" %>
    <%= text_field_tag "sid" %>
  </div>

  <div class="field">
    <%= submit_tag 'Submit' %>
  </div>
<% end %>
