<table class="team-evaluations">
  <thead>
    <tr>
      <td class="team-evaluation-id">ID</td>
      <td class="team-evaluation-iteration">Iteration</td>
      <td class="team-evaluation-grader">Grader</td>
      <td class="team-evaluation-gradee">Gradee</td>
      <td class="team-evaluation-score">Score</td>
      <td class="team-evaluation-comment">Comment</td>
      <td class="team-evaluation-created-at">Created At</td>
    </tr>
  </thead>
  <tbody>
    <% @grouped_team_evaluations.each_pair do |grader_id_iteration_name, grouped_team_evaluations| %>
      <tr>
        <td class="divider" colspan="7"></td>
      </tr>
      <% grouped_team_evaluations.each do |team_evaluation| %>
      <tr class="evaluation-entry" data-team-evaluation-id="<%= team_evaluation.id %>">
        <td class="team-evaluation-id">
          <%= team_evaluation.id %>
        </td>
        <td class="team-evaluation-iteration">
          <%= team_evaluation.iteration.name %>
        </td>
        <td class="team-evaluation-grader">
          <%= team_evaluation.grader.full_name %>
        </td>
        <td class="team-evaluation-gradee">
          <%= team_evaluation.gradee.full_name %>
        </td>
        <td class="team-evaluation-score">
          <div class="score-value-wrapper">
            <span class="score"><%= team_evaluation.score %></span>
            <%= link_to (image_tag "edit.png", :class => "edit-score inactive"), "#" %>
          </div>
          <div class="edit-score-input-wrapper inactive">
            <%= text_field_tag :"team-evaluation-score", team_evaluation.score, :class => "edit-score-input" %>
          </div>
        </td>
        <td class="team-evaluation-comment">
          <%= truncate(team_evaluation.comment, :length => 30) %>
        </td>
        <td class="team-evaluation-created-at">
          <%= team_evaluation.created_at.strftime("%m/%d %l:%M:%S%p") %>
        </td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
  <tfoot>
  </tfoot>

</table>
