<div class="container admin">
	<h1>Admin</h1>

  <div class="settings-container panel">
    <h2>Settings</h2>

    <%= form_for @settings, :url => admin_update_settings_path do |f| %>
    <div class="field last">
      <span class="label">Maximum Project Preferences</span>	<%= f.number_field :max_project_preferences, :value => @max_project_preferences, :min => 1, :max => 10 %>
    </div>
    <div class="actions">
      <%= f.submit "Save Preferences", :class => "btn" %>
    </div>
    <% end %>
  </div>

  <div class="team-evaluations-container panel">
    <h2>Team Evaluations</h2>
    <div class="filters-container">
      <div class="filters-label">
        Choose Iteration
      </div>
      <div class="filters-wrapper">
        <%= select_tag :"iteration-id", options_for_select(@iteration_select_options) %>
      </div>
    </div>

    <section class="team-evaluations-wrapper">
      <%= render :partial => "team_evaluations_list" %>
    </section>
  </div>

</div>

<script type="text/javascript">
  $().ready(function() {
    $('#iteration-id').live('change', function() {
      var iterationId = $(this).val();
      $.ajax({
        url: '<%= admin_path() %>',
        data: { 'iteration_id': iterationId },
        beforeSend: function(xhr, settings) {
          xhr.setRequestHeader('accept', '*/*;q=0.5, ' + settings.accepts.script);
        }
      });
    });

    $('tr').live('hover', function(e) {
      $('.edit-score').addClass('inactive');
      if ($(this).hasClass('evaluation-entry')) {
        $(this).find('.edit-score').removeClass('inactive');
      }
    });

    $('tr').live('click', function(e) {
      var $target = $(e.target);
      if ( $target.hasClass('edit-score') ) {
        // show edit form for this score
        $target.closest('.team-evaluation-score').find('.edit-score-input-wrapper').removeClass('inactive');
        $target.closest('.team-evaluation-score').find('.score-value-wrapper').addClass('inactive');
      }
      e.preventDefault();
    });

    $('.edit-score-input').live('keydown', function(e) {
      var keyCode   = e.keyCode,
          newScore,
          teamEvaluationId;
      if (keyCode === 13) {
        newScore = $(this).val();
        teamEvaluationId = $(this).closest('.evaluation-entry').attr('data-team-evaluation-id');
        $.ajax({
          url: '<%= admin_update_team_evaluation_path() %>',
          data: { 'team_evaluation_id': teamEvaluationId,
                  'score'             : newScore },
          beforeSend: function(xhr, settings) {
            xhr.setRequestHeader('accept', '*/*;q=0.5, ' + settings.accepts.script);
          }
        });
      }
    });

  });

</script>
