<div class="container admin">
	<h1>Admin Settings</h1>

  <%= form_tag admin_update_project_preferences_path(), :remote => true do %>

  <div class="settings-container panel">
    <h2>Project Preferences</h2>
    <div class="field last">
      <span class="label">Maximum Project Preferences</span>	<%= number_field_tag :max_project_preferences, @max_project_preferences, :min => 1, :max => 10 %>
    </div>

    <div class="actions">
      <%= submit_tag "Save", :class => "btn" %>
    </div>
  </div>

  <% end %>


  <div class="all-iterations-container panel">
    <h2>Iterations</h2>
    <div class="iterations-list-wrapper">
      <%= render :partial => "iterations_list" %>
    </div>
  </div>

  <div class="create-iteration-container panel last">
    <%= form_tag admin_create_iteration_path(), :remote => true do %>
    <h2>Create New Iteration</h2>

    <div class="field">
      <span class="label">Iteration name:</span>	<%= text_field_tag :new_iteration_name, "" %>
    </div>
    <div class="field last">
      <span class="label">Due date:</span>	<%= datetime_select(:new_iteration_due_date, :due_date, :include_seconds => true, :ampm => true) %>
    </div>

    <div class="actions">
      <%= submit_tag "Create Iteration", :class => "btn" %>
    </div>
    <% end %>
  </div>


</div>

<script type="text/javascript">
  $().ready(function() {
    $('.edit-iteration').live('click', function(e) {
      $iterationWrappers = $(this).closest('.iteration-container').find('.iteration-wrapper');
      $iterationWrappers.toggleClass('inactive');
      e.preventDefault();
    });

    $('.update-iteration').live('click', function(e) {
    });

    $('.delete-iteration').live('click', function(e) {
      var confirmVal  = confirm('Are you sure you want to delete this iteration?'),
          iterationId = $(this).attr('data-iteration-id');

      if (confirmVal) {
        $.ajax({
          url: '<%= admin_delete_iteration_path %>',
          data: { 'iteration_id': iterationId }
        });
      }
    });
  });

</script>
