<%= form_for(@group) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <b>Members:</b> <%= @group.student_names.join(", ") %>
  </div>

  <div class="field">
    <%= f.label :assigned_project_id %><br />
    <%= f.select :assigned_project_id, options_from_collection_for_select(@projects, 'id', 'title', @group.assigned_project_id) %>
    <%= "NIL" if @group.assigned_project_id.blank? %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
