<p id="notice"><%= notice %></p>

<div>
  <b>Members:</b>
  <%= @group.student_names.join(", ") %>
</div>
<div>
  <b>Assigned Project:</b>
  <%= @proj.title unless @proj.nil? %>
</div>

<% if admin_signed_in? %>
  <% if @proj_prefs %>
  <div>
    <b>Project Preferences</b>
  </div>
    <% @proj_prefs.each do |p| %>
      <div>
        <%= p.level %>: <%= p.project.title %>
      </div>
    <% end %>
  <% end %>

  <%= link_to 'Edit', edit_group_path(@group) %> |
<% end %>
<%= link_to 'Back', groups_path %>
