<h1>CS169 Project Website</h1>

<ul class="plain">
  <li> <%= link_to "Project Signups", new_signup_path %> </li>
  <li> <%= link_to "Projects", projects_path %> </li>
  <li> <%= link_to "Groups", groups_path %> </li>
  <li> <%= link_to "Project Assignments", project_assignments_path %> </li>
<% if @authorized %>
  <li> <%= link_to "Students", students_path %> </li>
  <li> <%= link_to "Project Preferences", project_preferences_path %> </li>
<% end %>
</ul>
