<div class="container home">
	<div class="menu-wrapper">
	<h2>Projects & Groups</h2>
	<ul class="plain">
		<%= link_to projects_path do %>
		<li class="menu-item">
			<div class="icon icon-projects"></div>
			See All Projects
		</li>
		<% end %>

		<%= link_to groups_path do %>		
		<li class="menu-item"> 
			<div class="icon icon-groups"></div>
			See All Groups
		</li>
		<% end %>
		
		<%= link_to new_signup_path do %>		
		<li class="menu-item"> 
			<div class="icon icon-signup"></div>
			Project Signup
		</li>
		<% end %>
		
		<%= link_to project_assignments_path do %>
		<li class="menu-item"> 
			<div class="icon icon-project-assignment"></div>
			Project Assignments
		</li>
		<% end %>

		<%= link_to team_evaluations_path do %>
		<li class="menu-item"> 
			<div class="icon icon-team-evaluations"></div>
			Team Evaluations
		</li>
		<% end %>
	</ul>
	</div>

	<% if admin_signed_in? %>
	<div class="menu-wrapper">
	<h2>Admin</h2>
	<ul class="plain">
		<%= link_to students_path do %> 
		<li class="menu-item"> 
			<div class="icon icon-students"></div>
			Students
		</li>
		<% end %>
		
		<%= link_to project_preferences_path do %> 
		<li class="menu-item"> 
			<div class="icon icon-project-preferences"></div>
			Project Preferences
		</li>
		<% end %>
	</ul>
	</div>
	<% end %>
	
</div>
