<!DOCTYPE html>
<html>
<head>
  <title>ProjectSignups</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper">
    <%= link_to "Home", :root %>
    <div id="messages">
      <p class="notice">
        <%= flash[:notice] %>
      </p>
      <p class="error">
        <%= flash[:error] %>
      </p>
    </div>

  <%= yield %>

  </div>
</body>
</html>
